[submodule "gwt-qrscanner"]
	path = gwt-qrscanner
	url = https://github.com/jbialobr/gwt-qrscanner.git
[submodule "gwt-exporter"]
	path = gwt-exporter
	url = https://github.com/jbialobr/gwt-exporter.git
